!/.idea
!/static/Assets/

!/static/favicon.ico

!/static/cesiumTest.html

!/static/fonts/

!/static/ThirdParty/

!/static/Widgets/

!/static/pytorch.png

!/static/img/

!/static/pic/

!/static/Xian_Old.jpeg

!/static/css/

!/static/js/

!/static/Workers/

!/static/result/

!/static/Xian_Old3.jpeg

!/static/Xian_Old2.jpeg

!/static/Xian_Old4.jpeg
!/Up_to_Domain/cal_accessarea/test_accessDomain/

!/test.py
!/test2.py
!/test_dem.gephi
!/batch_copy.py
!/batch_processing.py
!/coordinate_transform.py
!/drawPic.py
!/QMC-30
