<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="..\static\js\axios.min.js"></script>
    <script type="text/javascript" src="..\static\js\vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="..\static\js\element-ui@2.15.5\lib\theme-chalk\index.css">
    <!-- 引入组件库 -->
    <script src="..\static\js\element-ui@2.15.5\lib\index.js"></script>
    <title>Title</title>
    <style>
        .el-aside {
            background-color: #D3DCE6;
            color: #333;
            text-align: center;
            line-height: 50px;
            height: 650px
        }

        .el-main {
            background-color: #E9EEF3;
            color: #333;
            text-align: left;
            line-height: 50px;
        }
        .el-input{
            width:100px;
        }
    </style>
</head>
<body>
    <div id="asPage">
        <el-container>
            <el-header  style="background-color: #545c64">{% include "Header.html" %}</el-header>

            <el-container>
            <el-aside width="200px" >
                <img src="../static/pic/pytorch.png" width="50px">
                <h1>请上传DEM数据</h1>
                <i v-if="canSee" class="el-icon-loading"></i>
                <h1 v-if="canSee">处理中...</h1>
                <el-upload
                    class="upload-demo"
                    ref="upload"
                    multiple
                    action="#"
                    :limit="2"
                    :on-remove="handleRemove"
                    :before-remove="beforeRemove"
                    :on-change="handleChange"
                    :http-request="uploadFile"
                    :on-exceed="handleExceed"
                    :file-list="fileList"
                    :auto-upload="false">
                    <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
                    <el-button style="margin-left: 10px;" size="small" type="success" @click="submitUpload">上传到服务器</el-button>
                    <div slot="tip" class="el-upload__tip"></div>
                </el-upload>
                <el-input
                    placeholder="请输入步行时间"
                    suffix-icon="el-icon-coordinate"
                    v-model="input">
                </el-input>
                <el-input
                    placeholder="请输入显示登临点数量"
                    suffix-icon="el-icon-coordinate"
                    v-model="input_denglin">
                </el-input>
                <el-button style="margin-left: 10px;" size="small" type="success" @click="distantCalc">可达域计算</el-button>
                <el-button style="margin-left: 10px;" size="small" type="success" @click="calDenglinPoint">计算登临点</el-button>
                <el-button style="margin-left: 10px;" size="small" type="success" @click="calBaoluPoint">计算暴露点</el-button>
            </el-aside>

             <el-main>
                 <table>
                     <tr>
                         <td><img v-if="imageUrl1" :src="imageUrl1"></td>
                         <td><img v-if="imageUrl2" :src="imageUrl2"></td>
                         <td><img v-if="imageUrl3" :src="imageUrl3"></td>
                     </tr>

                     <tr>
                      <!-- <iframe width="800px" height="400px" name="iframe_a"></iframe>
                      <p><a href="../static/index2.html"  target="iframe_a">RUNOOB.COM</a></p> -->
                     </tr>
                 </table>
             </el-main>
            </el-container>

           

        </el-container>



    </div>


</body>

<script type="text/javascript">
        var asPage = new Vue({
            el: '#asPage',
            data() {
                return {
                    activeIndex: '2',
                    imageUrl1:'',
                    imageUrl2:'',
                    imageUrl3:'',
                    canSee:false,
                    loadPage:{},
                    fileList:{},
                    fileData: '',
                    input: '',
                    input_denglin:'',
                 };
                },
            methods: {
                  uploadFile(file) {
                    this.fileData.append('files', file.file); // append增加数据
                  },
                  submitUpload() {
                      if (this.fileList.length < 2) {
                        this.$message({
                          message: '请先选择2个文件',
                          type: 'warning'
                        })
                      } else {
                            const isLt100M = this.fileList.every(file => file.size / 1024 / 1024 < 100);
                            if (!isLt100M) {
                                this.$message.error('请检查，上传文件大小不能超过100MB!');
                            } else {
                                  this.fileData = new FormData(); // new formData对象
                                  this.$refs.upload.submit(); // 提交调用uploadFile函数
                                  this.fileData.append('loginToken', this.loginToken); // 添加token
                                  this.loadPage=this.$loading({
                                        lock: true,
                                        text: '处理中...',
                                        spinner: 'el-icon-loading',
                                        background: 'rgba(0, 0, 0, 0.7)'
                                  });
                                  this.canSee=true;
                                  axios.post("/uploadFiles", this.fileData).then((response) => {
                                      if (response.data.result.code === 0) {
                                        this.$message({
                                            message: "上传成功",
                                            type: 'success'
                                        })
                                        this.imageUrl2=response.data.result.dem_url
                                        this.imageUrl1=response.data.result.remote_url;
                                      } else {
                                            this.$message({
                                                message: "上传失败",
                                                type: 'error'
                                            })
                                      }
                                      this.loadPage.close()
                                      this.canSee=false;
                                  });
                            }
                      }
                  },
                  handleChange(file, fileList) {
                    let existFile = fileList.slice(0, fileList.length - 1).find(f => f.name === file.name);
                    if (existFile) {
                      this.$message.error('当前文件已经存在!');
                      fileList.pop();
                    }
                    this.fileList = fileList;
                  },
                  handleRemove(file, fileList) {
                    this.fileList = fileList;
                    this.imageUrl1=''
                    this.imageUrl2=''
                    this.imageUrl3='';
                  },
                  handleExceed(files, fileList) {
                    this.$message.warning(`当前限制选择 2 个文件`);
                  },
                  beforeRemove(file, fileList) {
                    return this.$confirm(`确定移除 ${ file.name }？`);
                  },
                  distantCalc(){
                    this.loadPage=this.$loading({
                            lock: true,
                            text: '处理中...',
                            spinner: 'el-icon-loading',
                            background: 'rgba(0, 0, 0, 0.7)'
                    });
                    axios.post("/distantCalc", {"distant" : this.input}).then((response) => {
                        if (response.data.result.code === 0) {
                          this.$message({
                            message: "计算成功",
                            type: 'success'
                          })
                          this.imageUrl1=response.data.result.remote_url;
                        } else {
                          this.$message({
                            message: "计算失败",
                            type: 'error'})
                        }
                         this.loadPage.close()
                    })
                  },
                  calDenglinPoint(){
                    this.loadPage=this.$loading({
                            lock: true,
                            text: '处理中...',
                            spinner: 'el-icon-loading',
                            background: 'rgba(0, 0, 0, 0.7)'
                    });
                    axios.post("/calDenglinPoint", {"remote_path" : this.imageUrl1,"dem_path":this.imageUrl2,"denglin_num":this.input_denglin}).then((response) => {
                        if (response.data.result.code === 0) {
                          this.$message({
                            message: "计算成功",
                            type: 'success'
                          })
                          this.imageUrl1=response.data.result.remote_url;
                          this.imageUrl2=response.data.result.dem_url;
                        } else {
                          this.$message({
                            message: "计算失败",
                            type: 'error'})
                        }
                         this.loadPage.close()
                    })
                  },
                  calBaoluPoint(){
                    this.loadPage=this.$loading({
                            lock: true,
                            text: '处理中...',
                            spinner: 'el-icon-loading',
                            background: 'rgba(0, 0, 0, 0.7)'
                    });
                    axios.post("/calBaoluPoint", {"remote_path" : this.imageUrl1}).then((response) => {
                        if (response.data.result.code === 0) {
                          this.$message({
                            message: "计算成功",
                            type: 'success'
                          })
                          this.imageUrl3=response.data.result.remote_baolu_url;
                        } else {
                          this.$message({
                            message: "计算失败",
                            type: 'error'})
                        }
                         this.loadPage.close()
                    })
                  },

            }
        })
</script>
</html>