<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="..\static\js\axios.min.js"></script>
    <script type="text/javascript" src="..\static\js\vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="..\static\js\element-ui@2.15.5\lib\theme-chalk\index.css">
    <!-- 引入组件库 -->
    <script src="..\static\js\element-ui@2.15.5\lib\index.js"></script>
    <title>Title</title>
    <style>
        .el-aside {
            background-color: #D3DCE6;
            color: #333;
            text-align: center;
            line-height: 50px;
            height: 650px
        }

        .el-main {
            background-color: #E9EEF3;
            color: #333;
            text-align: left;
            line-height: 50px;
        }
        .el-input{
            width:100px;
        }
    </style>
</head>
<body>
    <div id="asPage">
        <el-container>
            <el-header  style="background-color: #545c64">{% include "Header.html" %}</el-header>

            <el-container>
            <el-aside width="140px" >
                <img style="margin-top: 30px" src="../static/pic/click.png" width="80px">
                <h1 style="margin-top: 0px; margin-bottom: 0px;">请上传数据</h1>
                <i v-if="canSee" class="el-icon-loading"></i>
                <h1 v-if="canSee">处理中...</h1>
                <el-upload
                    class="upload-demo"
                    ref="upload"
                    multiple
                    action="#"
                    :limit="2"
                    :on-remove="handleRemove"
                    :before-remove="beforeRemove"
                    :on-change="handleChange"
                    :http-request="uploadFile"
                    :on-exceed="handleExceed"
                    :file-list="fileList"
                    :auto-upload="false">
                    
                      <el-button style="margin-top: 0px; width: 100px;"   slot="trigger" size="small"  type="primary">选取文件</el-button>
                      <el-button style="margin-left: 0px; width: 100px;" size="small" type="success" @click="submitUpload">上传文件</el-button>
                    
                    <div slot="tip" class="el-upload__tip"></div>
                </el-upload>

                <el-select v-model="time_limit" placeholder="步行时间" size="small" @change="catTimeLimit">
                  <el-option 
                    v-for="item in options1" 
                    :key="item.time_limit" 
                    :label="item.label" 
                    :value="item.time_limit">
                  </el-option>
                </el-select>

                <el-button style="margin-left: 0px; width: 100px;" size="small" type="success" @click="distantCalc">可达域计算</el-button>

                <el-select v-model="denglinNum" placeholder="登临点数量" size="small" @change="catDenglinNum">
                  <el-option 
                    v-for="item in options2" 
                    :key="item.denglinNum" 
                    :label="item.label" 
                    :value="item.denglinNum">
                  </el-option>
                </el-select>

                <el-button style="margin-left: 0px; width: 100px;" size="small" type="success" @click="calDenglinPoint">计算登临点</el-button>

                <el-select v-model="exposiveNum" placeholder="暴露点数量" size="small" @change="catExposiveNum">
                  <el-option 
                    v-for="item in options2" 
                    :key="item.denglinNum" 
                    :label="item.label" 
                    :value="item.denglinNum">
                  </el-option>
                </el-select>

                <el-button style="margin-left: 0px; width: 100px;" size="small" type="success" @click="calBaoluPoint">计算暴露点</el-button>
            </el-aside>

            <el-main>
              <table>
                <el-row>
                  <el-col :span="8">
                    <h3 v-if='imageUrl1'>村落遥感影像</h3>
                    <canvas v-if='imageUrl1' id="image1" width="256" height="256" style="border:1px solid #d3d3d3;"></canvas>
<!--                    <img v-if='imageUrl1' :src="imageUrl1" id="image1" width="512" height="512" style="border:1px solid #d3d3d3;"></img>-->
                  </el-col>
                  <el-col :span="8">
                    <h3 v-if='imageUrl2'>村落高程影像</h3>
                    <canvas v-if='imageUrl2' id="image2" width="256" height="256" style="border:1px solid #d3d3d3;"></canvas>
<!--                    <img v-if='imageUrl2' :src="imageUrl2" id="image2" width="512" height="512" style="border:1px solid #d3d3d3;"></img>-->
                  </el-col>
                  <el-col :span="8">
                    <h3 v-if="imageUrl3">村落n小时步行可达域</h3>
                    <canvas v-if='imageUrl3' id="image3" width="256" height="256" style="border:1px solid #d3d3d3;"></canvas>
<!--                    <img v-if='imageUrl3' :src="imageUrl3" id="image3" width="512" height="512" style="border:1px solid #d3d3d3;"></img>-->
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="8">
                    <h3 v-if="imageUrl4">可达域内登临点分布</h3>
                    <canvas v-if='imageUrl4' id="image4" width="256" height="256" style="border:1px solid #d3d3d3; cursor:default;"></canvas>
<!--                    <img v-if='imageUrl4' :src="imageUrl4" id="image4" width="512" height="512" style="border:1px solid #d3d3d3; cursor:default;"></img>-->
                  </el-col>
                  <el-col :span="8">
                    <h3 v-if="imageUrl4">可达域内登临点分布</h3>
                    <!-- <canvas v-if='imageUrl5' id="image5" width="256" height="256" style="border:1px solid #d3d3d3;"></canvas> -->
                    <img v-if="imageUrl5" width="256" height="256" :src="imageUrl5">
                  </el-col>
                  <el-col :span="8">
                    <h3 v-if='imageUrl6'>可达域内暴露点分布</h3>
                    <!-- <canvas v-if='imageUrl6' id="image6" width="256" height="256" style="border:1px solid #d3d3d3;"></canvas> -->
                    <img v-if="imageUrl6" width="256" height="256" :src="imageUrl6">
                  </el-col>
                </el-row>
            
                <!-- <tr>
                  <iframe width="800px" height="400px" name="iframe_a"></iframe>
                  <p><a href="../static/index2.html"  target="iframe_a">RUNOOB.COM</a></p>
                </tr> -->
              </table>
            </el-main>
            </el-container>

           

        </el-container>



    </div>


</body>

<script type="text/javascript">
        var asPage = new Vue({
            el: '#asPage',
            data() {
                return {
                    el_aside_width:'100px',
                    space:'',
                    activeIndex: '2',
                    imageUrl1:'',
                    imageUrl2:'',
                    imageUrl3:'',
                    imageUrl4:'',
                    imageUrl5:'',
                    imageUrl6:'',
                    canSee:false,
                    loadPage:{},
                    fileList:{},
                    fileData: '',
                    coords:{},
                    time_limit:'',
                    denglinNum:'',
                    exposiveNum:'',
                    x:'',
                    y:'',
                    // input: '',

                    options1:[{
                      time_limit:"15",
                      label:"15min"
                    },{
                      time_limit:"30",
                      label:"30min"
                    },{
                      time_limit:"45",
                      label:"45min"
                    },{
                      time_limit:"60",
                      label:"60min"
                    }],
                    time_limit: '',

                    options2:[{
                      denglinNum:"1",
                      label:"1"
                    },{
                      denglinNum:"5",
                      label:"5"
                    },{
                      denglinNum:"10",
                      label:"10"
                    }],
                    

                    // input_denglin:'',
                 };
                },
            methods: {
                  calculate(pw, ph, w, h) {
                        var px = 0;
                        var py = 0;
                        if(pw < w && ph < h){
                            px = 0.5 * w - 0.5 * pw;
                            py = 0.5 * h - 0.5 * ph;
                        }else if (ph / pw > h / w) {
                            var uu = ph;
                            ph = h
                            pw = pw * h / uu
                            px = 0.5 * w - 0.5 * pw;
                        } else {
                            var uu = pw;
                            pw = w;
                            ph = ph * pw / uu
                            py = 0.5 * h - 0.5 * ph;
                        }
                        return {px, py, pw, ph}
                  },

                  jump(){
                    this.imageUrl2="../calculate_denglinPoint/middle/viewshed" + this.options1.time_limit + this.x + '_' + this.y + '.tif'
                  },
                  uploadFile(file) {
                    this.fileData.append('files', file.file); // append增加数据
                  },
                  submitUpload() {

                      if (this.fileList.length < 2) {
                        this.$message({
                          message: '请先选择2个文件',
                          type: 'warning'
                        })
                      } else {
                            const isLt100M = this.fileList.every(file => file.size / 1024 / 1024 < 100);
                            if (!isLt100M) {
                                this.$message.error('请检查，上传文件大小不能超过100MB!');
                            } else {
                                  this.fileData = new FormData(); // new formData对象
                                  this.$refs.upload.submit(); // 提交调用uploadFile函数
                                  this.fileData.append('loginToken', this.loginToken); // 添加token
                                  this.loadPage=this.$loading({
                                        lock: true,
                                        text: '处理中...',
                                        spinner: 'el-icon-loading',
                                        background: 'rgba(0, 0, 0, 0.7)'
                                  });
                                  this.canSee=true;
                                  axios.post("/uploadFiles", this.fileData).then((response) => {
                                      if (response.data.result.code === 0) {
                                        this.$message({
                                            message: "上传成功",
                                            type: 'success'
                                        })
                                        this.imageUrl2=response.data.result.dem_url
                                        this.imageUrl1=response.data.result.remote_url;

                                        // canvas绘制出来
                                          img1 = new Image();
                                          img2 = new Image();

                                          img1.src = this.imageUrl1
                                          img2.src = this.imageUrl2


                                          img1.onload = function(){
                                            var c1 = document.getElementById("image1");
                                            var ctx1 = c1.getContext("2d");

                                            var iw = this.width;
                                            var ih = this.height;
                                            var local = asPage.$options.methods.calculate(iw, ih, c1.width,c1.height);
                                            // ctx1.drawImage(img1,0,0,this.width,this.height)
                                            ctx1.drawImage(img1,local.px, local.py, local.pw, local.ph)
                                          }

                                          img2.onload = function(){
                                            var c2 = document.getElementById("image2");
                                            var ctx2 = c2.getContext("2d");
                                            var iw = this.width;
                                            var ih = this.height;
                                            var local = asPage.$options.methods.calculate(iw, ih, c2.width, c2.height);
                                            ctx2.drawImage(img2,local.px, local.py, local.pw, local.ph)
                                          }



                                      } else {
                                            this.$message({
                                                message: "上传失败",
                                                type: 'error'
                                            })
                                      }
                                      this.loadPage.close()
                                      this.canSee=false;
                                  });
                            }
                      }
                  },

                  handleChange(file, fileList) {
                    let existFile = fileList.slice(0, fileList.length - 1).find(f => f.name === file.name);
                    if (existFile) {
                      this.$message.error('当前文件已经存在!');
                      fileList.pop();
                    }
                    this.fileList = fileList;
                  },
                  handleRemove(file, fileList) {
                    this.fileList = fileList;
                    this.imageUrl1='';
                    this.imageUrl2='';
                    this.imageUrl3='';
                    this.imageUrl4='';
                    this.imageUrl5='';
                    this.imageUrl6='';
                  },
                  handleExceed(files, fileList) {
                    this.$message.warning(`当前限制选择 2 个文件`);
                  },
                  beforeRemove(file, fileList) {
                    return this.$confirm(`确定移除 ${ file.name }？`);
                  },

                  // 抓取步行时长
                  catTimeLimit(selVal) {
                      this.time_limit = selVal;
                      console.log("选择的value为：" + this.time_limit);
                      console.log(selVal);
                  },
                  // 计算可达域
                  distantCalc(){
                    this.loadPage=this.$loading({
                            lock: true,
                            text: '处理中...',
                            spinner: 'el-icon-loading',
                            background: 'rgba(0, 0, 0, 0.7)'
                    });
                    
                    
                    axios.post("/distantCalc", {"time_limit" : this.time_limit}).then((response) => {
                        if (response.data.result.code === 0) {
                          this.$message({
                            message: "计算成功",
                            type: 'success'
                          })
                          this.imageUrl3=response.data.result.remote_url;
                          img = new Image();
                          img.src = this.imageUrl3;

                          // canvas绘制
                          img.onload=function(){
                            const canvas = document.getElementById("image3");
                            const ctx = canvas.getContext("2d");

                            var iw = this.width;
                            var ih = this.height;
                            var local = asPage.$options.methods.calculate(iw, ih, canvas.width, canvas.height);

                            // ctx.drawImage(img,0,0,this.width,this.height);
                            ctx.drawImage(img,local.px, local.py, local.pw, local.ph);
                          }
                        } else {
                          this.$message({
                            message: "计算失败",
                            type: 'error'})
                        }
                         this.loadPage.close()
                    })
                  },

                  // 抓取登临点数量
                  catDenglinNum(selVal){
                    this.denglinNum=setVal;
                    console.log("登临点数量：" + this.denglinNum);
                  },
                  // 计算登临点
                  calDenglinPoint(){
                    this.loadPage=this.$loading({
                            lock: true,
                            text: '处理中...',
                            spinner: 'el-icon-loading',
                            background: 'rgba(0, 0, 0, 0.7)'
                    });
                    axios.post("/calDenglinPoint", {"remotePath" : this.imageUrl3,"dem_path":this.imageUrl2,"denglinNum":this.denglinNum}).then((response) => {
                        if (response.data.result.code === 0) {
                          this.$message({
                            message: "计算成功",
                            type: 'success'
                          })
                          this.imageUrl4=response.data.result.denglinBase_url +  "/" + this.denglinNum.toString() +  "_" + "denglinPointArea.png";

                          // this.imageUrl5=response.data.result.dem_url;
                          this.coords=response.data.result.denglin_list;

                          img1 = new Image();
                          img1.src = this.imageUrl4;

                          // canvas绘制
                          img1.onload = function(){
                            const canvas = document.getElementById("image4");
                            const ctx = canvas.getContext("2d");


                            var iw = this.width;
                            var ih = this.height;
                            var local = asPage.$options.methods.calculate(iw, ih,canvas.width, canvas.height);

                            ctx.drawImage(img1,local.px, local.py, local.pw, local.ph);

                            canvas.addEventListener("mousemove", function(event) {
                                // getMousePos(canvas, event);
                                isCoord(canvas,event,asPage.coords);
                            });


                            // 捕获canvas对象中鼠标的坐标
                            function getMousePos(canvas, event) {
                                //1
                                var rect = canvas.getBoundingClientRect();
                                //2
                                var x = event.clientX - rect.left * (canvas.width / rect.width);
                                var y = event.clientY - rect.top * (canvas.height / rect.height);

                                // 用一个对象封装
                                var p = {x:x,y:y};
                                return p;
                            }

                            // 判断是否为传递上来的坐标
                            function isCoord(canvas,event,coords){
                                for (var i = 0; i < coords.length; i++){
                                  // 取得当前登临点的坐标
                                  const point_x = coords[i][0];
                                  const point_y = coords[i][1];

                                  // 取得当前鼠标移动的坐标

                                  p = getMousePos(canvas,event);
                                  // console.log(p.x,p.y);

                                  /* 判断当前鼠标移动到的地方和登临点坐标的位置关系，判定规则为：
                                    若当前鼠标移动坐标落在以当前登临点坐标为中心，周围2像素以内的正方形区域时，判定为选择当前登临点
                                    将鼠标形状转换为手型，并添加点击事件
                                  */
                                 if ((p.x > (point_x-2) && p.x < (point_x+2)) && (p.y > (point_y-2) && p.y < (point_y+2))){
                                    canvas.style.cursor = "hand";

                                    canvas.addEventListener("click",function(event){
                                      // console.log("true");
                                      asPage.imageUrl5 = response.data.result.denglinBase_url + "/" + point_x.toString() + "_" + point_y.toString() + "combineViewShedRemote.png";
                                    });
                                    canvas.style.cursor  = "default";

                                 }

                                }
                            }
                          }

                        } else {
                          this.$message({
                            message: "计算失败",
                            type: 'error'})
                        }
                         this.loadPage.close()
                    })
                  },

                   // 抓取暴露点数量
                   catExposiveNum(selVal){
                    this.exposiveNum=setVal;
                    console.log("登临点数量：" + this.exposiveNum);
                  },

                  calBaoluPoint(){
                    this.loadPage=this.$loading({
                            lock: true,
                            text: '处理中...',
                            spinner: 'el-icon-loading',
                            background: 'rgba(0, 0, 0, 0.7)'
                    });
                    axios.post("/calBaoluPoint", {"remotePath" : this.imageUrl1,"exposiveNum":this.exposiveNum}).then((response) => {
                        if (response.data.result.code === 0) {
                          this.$message({
                            message: "计算成功",
                            type: 'success'
                          })
                          this.imageUrl6=response.data.result.remoteExposiveUrl;

                          // canvas画出来
                          // image6 = new Image();
                          // image6.src = this.imageUrl6;

                          // image6.onload = function(){
                          //   const canvas = document.getElementById('img6');
                          //   const ctx = canvas.getContext("2d");

                          //   ctx.drawImage(image6, 0, 0, this.width, this.height);
                          // }
                        } else {
                          this.$message({
                            message: "计算失败",
                            type: 'error'})
                        }
                         this.loadPage.close()
                    })
                  },

            }
        })
</script>
</html>